<section>
  <div class="title">
    <h3>{{ cliente ? "Editar cliente" : "Criar cliente" }}:</h3>
    <span class="material-symbols-outlined" (click)="fechar()"> close </span>
  </div>
  <form [formGroup]="clienteForm">
    <input type="text" formControlName="name" placeholder="Digite o nome:" />
    <input
      type="number"
      formControlName="salary"
      placeholder="Digite o salário:"
    />
    <input
      type="number"
      formControlName="companyValuation"
      placeholder="Digite o valor da empresa:"
    />
  </form>
  <button (click)="criarCliente()">
    {{ cliente ? "Editar cliente" : "Criar cliente" }}
  </button>
</section>
