.criar-cliente {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  color: #ec6724;
  border: 1px solid #ec6724;
  font-size: 14px;
  background-color: rgb(235 233 233 / 38%);
  font-weight: bold;
  & {
    cursor: pointer;
  }
}
